<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
</head>
<body>
    <h1>Get in Touch</h1>
    <p>“Let’s collaborate! Contact me through the details below.</p>


    <h3>Contact Information:</h3>
    <p><strong>Email:</strong> aerondequito967@gmail.com</p>
    <p><strong>Phone:</strong> 0968-293-4093</p>
    <p><strong>Address:</strong> Nagcarlan, Laguna, Philippines</p>
    <p><strong>Socials:</strong> 
        <a href="https://github.com/Sohyul1" target="_blank">GitHub</a> | 
        <a href="https://www.facebook.com/aeron.dequito.5" target="_blank">Facebook</a>
    </p>

    <a href="/">Back to Home</a>
</body>
</html>
